.static-keyword-1{
    color:#B6B6B6;
    font-size: 50px;
}
.static-keyword-title{
    font-size:25px;
    color:#B6B6B6;
    margin-left:65px;
    margin-top:-20px;
}
.description-text{
    text-align:justify;
    line-height:1.5;
    color:rgba(51,51,51,0.9);
}
.header-text{
    text-align:'left';
}