.content-section1{
    background: white;
    margin-top:0; 
    width: 100%;
    /* margin-bottom: 190px; */
    padding-bottom: 0
  }
  .content-section1 h1{
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 50px;
  }
  
  /*  SECTIONS  */
  .section1 {
      clear: both;
      padding: 0px;
      margin-top: 50px;
  }
  
  /*  COLUMN SETUP  */
  .col_1 {
      display: block;
      float:left;
      margin: 1% 0% 1% 1%;
    /* margin-left: auto;
    margin-right: auto; */
  }
  /* .col_1:first-child { margin-left:7%; } */
  
  
  /*  GROUPING  */
  .group1:before,
  .group1:after {
      content:"";
      display:table;
  }
  .group1:after {
      clear:both;
  }
  .group1 {
      zoom:1; /* For IE 6/7 */
  }
  
  /*  GRID OF THREE  */
  .span_3_of_3 {
      width: 100%;
  }
  .span_2_of_3 {
      width: 40%;
  }
  .span_1_of_3_call {
      width: 32.2%;
  }
  
  /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
  
  @media only screen and (max-width: 480px) {
    .col_1 { margin: 1% 1% 1% 1%;}
    .col_1:first-child { margin-left:2%; margin-right:2%; }
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
    .span_2_of_3 p,h3{
      padding-right:8%;
      padding-left: 8%;
    }
    .span_2_of_3 h1{
      font-size: 1%!important;
    }
  }
 .headerText{
     background: #3D4097;
     padding:10px 0 10px 0;
     justify-items: baseline;
     margin-bottom: -10px;
     margin-top: 190px;
     color: white;
 }
 h5 .headerText{
     padding-bottom: 0;
 }
 .callBtn{
     margin-top: 50px;
 }
 .Title{
     color:#4B7CD7;
 }
 .sub-title{
     font-weight:bold;
 }
 .description-text{
     line-height:1.5;
     color:rgba(51,51,51,0.9);
     margin: 0 60px 0 85px;
 }
 @media screen and (max-width:480px){
     .description-text{
          margin: 0 60px 0 85px;
     }
     .span_1_of_3_call{
         width:100%;
     }
 }
 @media screen and (max-width:780px){
     .description-text{
         margin: 0 10px 0 15px;
     }
 }
 .call-btn{
     background-color:#3C80F2; 
     padding:20px;
     color:white;
     border:none;
     width:350px;
     border-radius:3%;
     font-size:1.5em;
     margin-top:20px
 }